<div class="spot-viewer">
  <%= hidden_field_tag nil, @spot.target_uid, class: "target-uid" %>
  <%= content_tag :svg, nil, class: "spot-canvas", width: 300, height: 300, "data-scale" => 4, "data-image" => attachment_file_path(@spot.attachment_file, format: :svg) %>
</div>

<%= javascript_tag do %>
  $("div.spot-viewer").spotViewer();
<% end %>
