<div class="row">
  <div id="show-caption" class="col-lg-12">
    <%= show_title(@spot) %>
  </div>
</div>
<div class="row">
  <div id="show-tools" class="col-lg-4">
    <div class="row btn-toolbar tool-selector" role="toolbar">
      <div class="btn-group btn-group-sm">
        <%= link_to family_spot_path(@spot), class: "btn btn-default activate", id: "tree-conifer-button", remote: true do %>
          <span class="glyphicon glyphicon-tree-conifer"></span>
        <% end %>
      </div>

      <% if can? :update, @spot %>
      <div class="btn-group btn-group-sm">
        <%= link_to edit_spot_path(@spot), class: "btn btn-default", id: "pencil-button", remote: true do %>
          <span class="glyphicon glyphicon-pencil"></span>
        <% end %>
        <%= link_to property_spot_path(@spot), class: "btn btn-default", remote: true do  %>
          <span class="glyphicon glyphicon-cog"></span>
        <% end %>
      </div>
      <% end %>
    </div>
    <div class="row tool-content">
    </div>
  </div>
  <div class="col-lg-8">
<div class="display-type">
  <div id="display-type-html">

    <div class="spot-viewer">
      <%= hidden_field_tag nil, @spot.target_uid, class: "target-uid" %>
      <%= content_tag :svg, nil, class: "spot-canvas", width: 800, height: 600, "data-scale" => 2, "data-image" => attachment_file_path(@spot.attachment_file, format: :svg) %>
    </div>
    <%= rplot_iframe @spot %>
  </div>

  <div class="hidden" id="display-type-tex">
    <pre><code><%= @spot.attachment_file.decorate.to_tex %></code></pre>
  </div>
</div>

<div class="btn-group">
  <a href="#display-type-html" class="btn radio-button-group">html</a>
  <a href="#display-type-tex" class="btn radio-button-group">tex</a>
</div>

    <%= javascript_tag do %>
      $("div.spot-viewer").spotViewer();
    <% end %>
 </div>
