<div class="row">
  <div id="show-caption" class="col-lg-12">
    <%= show_title(@spot) %>
  </div>
</div>
<div class="row">
  <div id="show-tools" class="col-lg-4">
    <div class="row btn-toolbar tool-selector" role="toolbar">
      <% if @spot.attachment_file %>
      <div class="btn-group btn-group-sm">
        <%= link_to family_spot_path(@spot), class: "btn btn-default activate", id: "tree-conifer-button", remote: true do %>
        <span class="fas fa-tree"></span>
        <% end %>
      </div>
      <% end %>

      <% if can? :update, @spot %>
      <div class="btn-group btn-group-sm">
        <%= link_to edit_spot_path(@spot), class: @spot.attachment_file ? "btn btn-default": "btn btn-default activate", id: "pencil-button", remote: true do %>
          <span class="fas fa-pencil-alt"></span>
        <% end %>
        <%= link_to property_spot_path(@spot), class: "btn btn-default", remote: true do  %>
          <span class="fas fa-cog"></span>
        <% end %>
      </div>
      <% end %>
    </div>
    <div class="row tool-content">
    </div>
  </div>
  <div class="col-lg-8">
<div class="display-type">
  <div id="display-type-html">

    <% if @spot.attachment_file %>
    <div class="spot-viewer">
      <%= hidden_field_tag nil, @spot.target_uid, class: "target-uid" %>
      <%= content_tag :svg, nil, class: "spot-canvas", width: 700, height: 500, "data-scale" => 2, "data-image" => attachment_file_path(@spot.attachment_file, format: :svg) %>
    </div>
      <%= form_for @spot do |f| %>
        <%= error_notification(@spot.errors) %>
        <%= f.hidden_field :spot_x, class: "form-control" %>
        <%= f.hidden_field :spot_y, class: "form-control" %>
	<%= button_tag title: "update coordinate", id: "update-coordinate-button", class: "btn btn-default" do %>
	  <span class="fas fa-redo"></span>
	<% end %>
      <% end %>
    <% else %>
    <div style="height:500px;">
      <%= @spot.surface.decorate.map %>
      <%= javascript_tag "initSurfaceMap();" %>
    </div>
    <% end %>
  </div>

  <div class="hidden" id="display-type-tex">
    <pre><code>
      <% if @spot.attachment_file %>
      <%= @spot.attachment_file.decorate.to_tex %>
      <% else %>
      <%= @spot.surface.decorate.to_tex %>
      <% end %>
    </code></pre>
  </div>
</div>

<div class="btn-group">
  <a href="#display-type-html" class="btn radio-button-group">html</a>
  <a href="#display-type-tex" class="btn radio-button-group">tex</a>
</div>

<%= javascript_tag do %>
  $("div.spot-viewer").spotViewer();
  $("#update-coordinate-button").click(function(){
    var center = $("div.spot-viewer").spotViewer("center");
    $("#spot_spot_x").val(center.left);
    $("#spot_spot_y").val(center.top);
  })
<% end %>


 </div>
