<div class="alert alert-danger">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <ul>
    <% errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
</div>