<div>
  <% if @stone.attachment_files.present? %>
    <%= link_to(@stone.primary_picture, attachment_file_path(@stone.attachment_files.first)) %>
  <% end %>
</div>
<div id="family-tree">
  <%= @stone.family_tree %>
</div>
