<div>
  <% @stone.attachment_files.each do |attachment_file| %>
    <%= link_to(@stone.primary_picture, attachment_file_path(attachment_file)) %>
  <% end %>
</div>
<div id="family-tree">
  <%= @stone.family_tree %>
</div>
