<tr>
  <td><%= check_box_tag("ids[]", specimen.id, checked, id: "ids_#{specimen.id}", class: "select-row") if can?(:update, specimen) %></td>
  <% specimen = specimen.decorate %>
  <% @search_columns.each do |column| %>
  <td><%= specimen.content(column.name) %></td>
  <% end %>
</tr>
