<div class="row">
  <div id="show-caption" class="col-lg-12">
    <%= @specimen.path_with_id %> <%= published_label(@specimen) %>
  </div>
</div>
<div class="row">
<%= render partial: 'quantity' %>
</div>