<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th>located-at</th>
      <th>entered-at</th>
      <th>entered-by</th>
      <th>checked-at</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @box.paths.includes(:brought_in_by, :brought_out_by).each do |path| %>
      <tr>
        <td><%= raw (path.boxes.map { |content| link_to_if(can?(:read, content), content.name, content) }).join("/") %></td>
        <td><%= path.brought_in_at.strftime("%Y-%m-%d %H:%M") %></td> 
        <td><%= path.brought_in_by.username %></td>
        <td><%= path.checked_at && path.checked_at.strftime("%Y-%m-%d %H:%M") %></td> 
      </tr>
    <% end %>
  </tbody>
</table>
