<div class="row">
  <div id="show-caption" class="col-lg-12">
    <%= @box.box_path_with_id %> <%= published_label(@box) %>
  </div>
</div>
<div class="row">
  <div id="show-body" class="col-lg-12">
  <table class="table table-condensed">
  <tbody>
    <% @box.specimens.each do |specimen| %>
      <% specimen = specimen.decorate %>
      <%= render partial: "list_specimen", :locals => { specimen: specimen } %>
    <% end %>
  </tbody>
  </table>
  </div>
</div>
