<div>
<p>To reconfigure following parameters, edit "config/application.yml".
 <ul>
  <li>site name: <%= Settings.site_name %></li>
  <li>barcode:</li>
  <ul>
    <li>prefix: <%= Settings.barcode_prefix %></li>
    <li>type: <%= Settings.barcode_type %></li>
  </ul>
 </ul>
</p>
</div>
