<div">
<p>To reconfigure following parameters, edit "config/application.yml".
 <ul>
  <li>site name: <%=h Settings.site_name %></li>
  <li>barcode:</li>
  <ul>
    <li>prefix: <%=h Settings.barcode_prefix %></li>
    <li>type: <%=h Settings.barcode_type %></li>
  </ul>
 </ul>
</p>
</div>
