<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th></th>
      <th>spot</th>
      <th>location</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
      <% SpotDecorator.decorate_collection(@attachment_file.spots).each do |spot| %>
        <tr>
          <td></td>
          <td><%= spot.target_link %></td> 
          <td><%= spot.xy_to_text %></td>
          <td>
            <%= link_to edit_spot_path(spot) ,title: "edit spot of #{spot.name}" do %>
              <span class="glyphicon glyphicon-edit"></span>
            <% end %>          
            <%= link_to attachment_file_spot_path(@attachment_file,spot)+ tab_param(__FILE__), method: :delete ,title: "delete spot of #{spot.name}",data: {confirm: t("confirm.delete",:recordname => spot.name)} do %>
              <span class="glyphicon glyphicon-remove"></span>
            <% end %>
          </td>
        </tr>
      <% end %>
  </tbody>
</table>

