defaults: &defaults
  backup:
    files:
      dir_path: "/tmp/medusa/backup/files"

development:
  <<: *defaults

test:
  <<: *defaults

production:
  <<: *defaults

staging:
  <<: *defaults

timemachine:
  <<: *defaults
