defaults: &defaults
  backup:
    files:
      dir_path: "/tmp/medusa/backup/files"
    db:
      dir_path: "/tmp/medusa/backup/db"
  site_name: "Medusa"
  barcode:
    prefix:
    type: 2D


development:
  <<: *defaults

test:
  <<: *defaults

production:
  <<: *defaults

staging:
  <<: *defaults

timemachine:
  <<: *defaults
