defaults: &defaults
  site_name: "Medusa"
  help_url: http://dream.misasa.okayama-u.ac.jp/documentation/  
  barcode:
    prefix:
    type: 2D

development:
  <<: *defaults

test:
  <<: *defaults

production:
  <<: *defaults

staging:
  <<: *defaults

timemachine:
  <<: *defaults

backup:
  host: devel.misasa.okayama-u.ac.jp
  username: medusa
  dir_path:
    files: /tmp/medusa/backup/files
    db: /tmp/medusa/backup/db
