development:
  adapter: postgresql
  encoding: unicode
  database: medusa_development
  pool: 5
  username: medusa
  password: my_password

test:
  adapter: postgresql
  encoding: unicode
  database: medusa_test
  pool: 5
  username: medusa
  password: my_password

production: &production
  adapter: postgresql
  encoding: unicode
  database: medusa
  pool: 5
  username: medusa
  password: my_password

staging:
  <<: *production

timemachine:
  adapter: postgresql
  encoding: unicode
  database: medusa_timemachine
  pool: 5
  username: medusa
  password: my_password

medusa_original:
  adapter: postgresql
  encoding: unicode
  database: medusa_original
  pool: 5
  username: medusa
  password: my_password