<div class="btn-group">
  <a href="#display-type-plot" class="btn radio-button-group">plot</a>
  <a href="#display-type-tex" class="btn radio-button-group">tex</a>
</div> 
<%= link_to "image", attachment_file_path(@image) %>
<div class="display-type">
  <div id="display-type-plot">
 <%= rplot_iframe @surface %>
  </div>
  <div class="hidden" id="display-type-tex">
    <pre><code><%= @surface_image.to_tex %></code></pre>
  </div>
</div>
