<div class="surface-viewer">
<%= content_tag :svg, nil, class: "surface-canvas", width: 600, height: 600, "data-image" => surface_image_path(@surface, @image, format: :svg) if @image %>
</div>  
<%= javascript_tag do %>
  $("div.surface-viewer").surfaceViewer();
<% end %>
