<tr>
  <th>age min</th>
  <th><%= table.age_unit %></th>
  <% table.stones.each do |stone| %>
    <td><%= stone.try!(:age_min).present? ? Alchemist.measure(stone.age_min, stone.age_unit.to_sym).to(table.age_unit.to_sym).value : "-" %></td>
  <% end %>
  <% if table.with_average %>
    <td></td>
  <% end %>
</tr>
<tr>
  <th>age max</th>
  <th><%= table.age_unit %></th>
  <% table.stones.each do |stone| %>
    <td><%= stone.try!(:age_max).present? ? Alchemist.measure(stone.age_max, stone.age_unit.to_sym).to(table.age_unit.to_sym).value : "-" %></td>
  <% end %>
  <% if table.with_average %>
    <td></td>
  <% end %>
</tr>
