<div class="btn-group">
  <a href="#display-type-html" class="btn radio-button-group">info</a>
  <a href="#display-type-rplot" class="btn radio-button-group">data</a>
  <a href="#display-type-casteml" class="btn radio-button-group">casteml</a>
</div>


<div class="display-type">
  <div id="display-type-html">
    <%= render(partial: "table") %>
  </div>
  <div class="hidden" id="display-type-rplot">
    <%= @table.plot_chemistries %>
  </div>
  <div class="hidden" id="display-type-casteml">
    <pre><code><%= [@table].to_pml %></code></pre>
  </div>  
</div>
