<tr>
  <th>latitude</th>
  <th></th>
  <% table.specimens.each do |specimen| %>
    <td><%= raw specimen.rplace.try!(:latitude_to_html) || "-" %></td>
  <% end %>
  <% if table.with_average %>
    <td></td>
  <% end %>
</tr>
<tr>
  <th>longitude</th>
  <th></th>
  <% table.specimens.each do |specimen| %>
    <td><%= raw specimen.rplace.try!(:longitude_to_html) || "-" %></td>
  <% end %>
  <% if table.with_average %>
    <td></td>
  <% end %>
</tr>
