<tr>
  <th>latitude</th>
  <th></th>
  <% table.stones.each do |stone| %>
    <td><%= stone.place.try!(:latitude) || "-" %></td>
  <% end %>
  <% if table.with_average %>
    <td></td>
  <% end %>
</tr>
<tr>
  <th>longitude</th>
  <th></th>
  <% table.stones.each do |stone| %>
    <td><%= stone.place.try!(:longitude) || "-" %></td>
  <% end %>
  <% if table.with_average %>
    <td></td>
  <% end %>
</tr>
