<div class="form-classification form-classification-sm">
  <%= label_tag "classification[sesar_classification]","Sesar_classification", { class: "small" } %>
  <%= text_field_tag "classification[sesar_classification]",classification.sesar_classification, { class: "form-control input-sm" } %>
</div>
