/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.datepicker
 *= require jquery.ui.autocomplete
 *= require leaflet/dist/leaflet.css
 *= require leaflet-fullscreen/dist/leaflet.fullscreen.css
 *= require Leaflet.ZoomLabel/src/L.Control.ZoomLabel.css
 *= require leaflet-toolbar/dist/leaflet.toolbar.css
 *= require leaflet-view-meta/src/leaflet-view-meta.css
 *= require leaflet-control-surfacelayers/src/leaflet-control-surfacelayers.css
 *= require leaflet-distortableimage/dist/leaflet.distortableimage.css
 *= require leaflet.coordinates/dist/Leaflet.Coordinates-0.1.5.css
 *= require @geoman-io/leaflet-geoman-free/dist/leaflet-geoman.css
 *= require leaflet-styleeditor/dist/css/Leaflet.StyleEditor.min.css
 *= require handsontable/dist/handsontable.full.min.css
 *= require_tree .
 */

.svg-icons {
  width: 18px;
  height: 18px;
  vertical-align: middle;
}

.material-icons {
  font-size: 18px;
  color: pink;
}