.ghost {
  .fas {
    opacity: 0.5;
  }
  img {
    opacity: 0.5;
  }
  a {
    text-decoration: line-through;
  }
}
.ghost.fas {
  opacity: 0.5;
}
img.ghost {
  opacity: 0.5;
}
a.ghost {
  text-decoration: line-through;
}
span.ghost {
  text-decoration: line-through;
}