// Place all the styles related to the surfaces controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#calibrator {
  .viewer {
    width: 600px;
    height: 600px;
  }
  .controller {
    width: 450px;
    height: 450px;
    background-color: #bebebe;
  }
  .thumbnails {
    width: auto;
  }
}