// Place all the styles related to the surfaces controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#calibrator {
  .viewer {
    width: 500px;
    height: 500px;
  }
  .controller {
    width: 250px;
    height: 250px;
  }
  .thumbnails {
    width: auto;
  }
}