#surface-map {
  margin-bottom: 10px;
  height: 100%;
}
#surface-map.small-map {
  width: 300px;
  height: 300px;
}
#surface-map.leaflet-container {
  background: #000000;
}

.leaflet-control-layers .leaflet-up {
  float: right;
  background-image: image-url('arrow-up.png');
  background-repeat: no-repeat;
  background-position: center;
  height: 20px;
  width: 16px;
  opacity: 0.75;
  cursor: pointer;
}

.leaflet-control-layers .leaflet-down {
  float: right;
  background-image: image-url('arrow-down.png');
  background-repeat: no-repeat;
  background-position: center;
  height: 20px;
  width: 16px;
  opacity: 0.75;
  cursor: pointer;
}