@for $i from 1 through 10 {
  .tree-node[data-depth='#{$i}'] {
    padding-left: #{15 * ($i - 1)}px;
  }
}

.tree-node {
  .glyphicon {
    margin: 0px 0px;
  }

  .glyphicon-folder-open {
    margin: 0px 3px 0px 0px;
  }
}

.badge {
  background-color: #444444;
}

.badge.badge-active {
  background-color: #999999;
}

.tree-node {
  .glyphicon-active-color {
    color: #999999;
  }
}