@for $i from 1 through 10 {
  .tree-node[data-depth='#{$i}'] {
    padding-left: #{15 * ($i - 1)}px;
  }
}

.tree-node {
  .glyphicon {
    margin: 0px 0px;
  }
}

.badge-active{
  background-color: #444444;
}
