<div class="display-type">
  <div id="display-type-html">
	<div class="spot-viewer">
	  <%= content_tag :svg, nil, class: "spot-canvas", width: 600, height: 600, "data-image" => surface_image_path(@surface, @surface.first_image, format: :svg) if @surface.first_image %>
	</div>
  </div>
  <div class="hidden" id="display-type-tex">
    <pre><code><%= @surface.to_tex %></code></pre>
  </div>
</div>
<div class="btn-group">
  <a href="#display-type-html" class="btn radio-button-group">html</a>
  <a href="#display-type-tex" class="btn radio-button-group">tex</a>
</div>  
<%= link_to download_attachment_file_path(@surface.first_image), class: "btn btn-default" do %>
    <span class="glyphicon glyphicon-file"></span>
<% end %>
