<%= @surface.map %>
<div id="family-tree">
  <%= @surface.family_tree %>
</div>
<%= @surface.related_pictures %>

<%= javascript_tag do %>
  $("div.surface-viewer").surfaceViewer();
<% end %>
<script>
  initSurfaceMap();
</script>
