<div>
  <%= link_to(@surface.first_image.decorate.picture(width: 250, height: 250), surface_path(@surface)) if @surface.first_image %>
</div>
<div id="family-tree">
  <%#= @spot.family_tree %>
</div>

