<% if @surface.globe? %>
  <%= ActsAsMappable::Mappable::HtmlGenerator.generate(lat: 0, lng: 0, zoom: 0, width: 300, height: 300) %>
<% else %>
  <%= @surface.map(class: "large-map", add_spot: true) %>
<% end %>
<div id="family-tree">
  <%#= @surface.family_tree %>
</div>

<% if @surface.globe? %>
  <%= javascript_tag "actsAsMappable.initToMap();" %>
<% else %>
  <%= javascript_tag do %>
    $("div.surface-viewer").surfaceViewer();
  <% end %>
  <script>
    initSurfaceMap();
    $(document).on("submit", "#new_spot", function() {
      var point = surfaceMap.getSpotPoint();
      if (!point) { return false; }
      $("#spot_world_x").val(point.x);
      $("#spot_world_y").val(point.y);
    });
  </script>
<% end  %>
