<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th></th>
      <th>name</th>
      <th>country</th>
      <th>feature</th >
      <th>distance [km]</th>
    </tr>
  </thead>
  <tbody>
    <% @place.nearby_geonames.each do |geoname| %>
      <tr>
        <td></td>
        <td><%= geoname.name %></td>
        <td><%= geoname.country_name %></td>
        <td><%= geoname.feature_code_name %></td>
        <td align="right"><%= "%0.3f" % geoname.distance.to_f %></td>
      </tr>
    <% end %>
  </tbody>
</table>
