<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th></th>
      <th>name</th>
      <th>[latitude, longitude]</th>
      <th>distance [km]</th >
      <th>sample</th>
    </tr>
  </thead>
  <body>
    <% @place.readable_neighbors(@current_user).each do |neighbor| %>
      <tr>
        <td></td>
        <td><%= link_to neighbor.name,place_path(neighbor) %></td>
        <td><%= "[#{neighbor.latitude_to_text},#{neighbor.longitude_to_text}]" %></td>
        <td><%= "%0.3f" % neighbor.distance.to_f %></td>
        <td>
          <% neighbor.stones.each do |stone| %>
            <%= link_to stone.name,stone_path(stone) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
