<table  class="table">
  <thead>
    <tr>
      <th></th>
      <th>name</th>
      <th>[latitude, longitude]</th>
      <th>distance [km]</th >
      <th>sample</th>
    </tr>
  </thead>
  <% @place.readable_neighbors(@current_user).each do |neighbor| %>
    <tr>
      <td></td>
      <td><%= link_to neighbor.name,place_path(neighbor) %></td>
      <td><%= "[#{format_latitude(neighbor.latitude)},#{format_longitude(neighbor.longitude)}]" %></td>
      <td align="right"><%= "%0.3f" % neighbor.distance.to_f %></td>
      <td>
        <% neighbor.stones do |stone| %>
          <%= link_to stone.name,stone_path(stone) %>
        <% end %>
      </td>
      </tr>
  <% end %>
  <tr><th colspan="5"></th></tr>
</table>
