<div class="modal fade" id="show-modal" tabindex="-1" role="dialog" aria-labelledby="notification-modal-label" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
