<!DOCTYPE html>
<html>
<head>
  <%= render partial: "layouts/head" %>
</head>
<body>
  <%= render partial: "layouts/navbar_admin" if user_signed_in? %>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>