<div class="modal-header alert">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h4 class="modal-title" id="notification-modal-label">
    <%= (params[:action] == "index") ? "search" : params[:action] %>
  </h4>
</div>
<div class="modal-body">
  <%= yield %>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>
